*{margin: 0;
padding: 0;
}
.box { 
    border: 1px solid #ccc; 
    min-height: 0px; 
} 
.box div { 
    margin: 5px; 
    text-align: center; 
    background-color: #72C953;
} 
.box div:nth-child(1n) { 
    height: 70px; 
    width: 70px; 
    line-height: 70px;
} 
/* .box div:nth-child() { 
    height: 50px; 
    width: 50px; 
    line-height: 50px;
} 
.box div:nth-child(3) { 
    height: 30px; 
    width: 30px; 
    line-height: 30px;
} */
#copy{
	display: none;
}